<div class="row">
  <div class="medium-4 columns">
    <button class="button js-new-teacher">Nova preferência</button>
  </div>
  <div class="medium-4 medium-offset-4 columns">
    <form id="filter-preferences">
      <div class="input-group">
        <input type="text" class="input-group-field js-filter-preferences" placeholder="Nome da disciplina">
        <div class="input-group-button">
          <button type="submit" class="button">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
