<div class="medium-3 columns"><span>{{ teacher.name }}</span></div>
<div class="medium-3 columns"><span>{{ discipline.name }}</span></div>
<div class="medium-3 columns"><span>{{ preference }}</span></div>
<div class="medium-3 columns">
  -
</div>