h4 {
	color: red;
}

.navbar-inverse {
	background-color: #1B4585
}
.navbar-inverse { 
	background-image: none; 
}
.navbar-inverse { 
	border-color: #70B8CF
}

#center-bottom {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

.center-bottom2 {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 85%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
}

