<div class="row">
  <div class="small-3 medium-3 columns"><strong>Semestre</strong></div>
  <div class="small-3 medium-3 columns"><strong>Professor</strong></div>
  <div class="small-3 medium-3 columns"><strong>Disciplina</strong></div>
</div>
<hr>
<div id="list-item-distribution"></div>
