<div class="small-7 medium-7 columns"><span>{{ year }}/{{ semester }}</span></div>
<div class="medium-5 columns">
  <a href="#distributions/show/{{ year }}/{{ semester }}" class="tiny hollow button js-show-distribution">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
