<div class="row">
  <div class="large-6 columns">
    {{name}}
  </div>
  <div class="large-6 columns">
    <ul>
    {% for c in classes %}
      <li>{{c.name}}</li>
    {% endfor %}
    </ul>
  </div>
</div>
