<div id="distribution-list">
  <div class="row">
    <div class="small-6 columns"><strong>Disciplina</strong></div>
    <div class="small-6 columns"><strong class="text-center">Professor</strong></span></div>
  </div>
  <div id="distribution-list-items"></div>
</div>
