<div id="distribution-list">
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="small-6 large-3 columns">
        <strong>Disciplina</strong>
      </div>
      <div class="small-6 large-3 columns">
        <strong class="text-center">Professor</strong>
      </div>
    </div>
    <div class="large-6 columns show-for-landscape">
      <div class="large-3 columns"><strong class="text-center">Professor</strong></div>
      <div class="large-3 columns"><strong class="text-center">Disciplina</strong></div>
    </div>
  </div>
  <div class="row">
    <div id="distribution-list-items" class="small-12 large-6 columns"></div>
    <div id="distribution-teacher-items" class="large-6 columns vertical-line-left show-for-landscape"></div>
  </div>
</div>
