<div>
    <div class="row">
        <div class="small-3 medium-3 columns">
            <strong>Nome</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Curso</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Aulas teóricas</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Aulas de exercícios</strong>
        </div>
        <div class="small-3 medium-3 columns">
            <strong>Laboratório</strong>
        </div>
    </div>
    <hr>
    <div id="list-discipline-items"></div>
</div>
