<div class="row no-padding">
    <div style="padding: 10px" class="panel  radius css-selector">
        <div class="row">
            <div class="large-6 columns">
                <h3 class="css-selector">Opções de departamento</h3>
                <ul>
                    <a href="#" onclick='main:departments'>
                        <li>Departamentos</li>
                    </a>
                    <a href="#" onclick='main:commissions'>
                        <li>Comissões</li>
                    </a>
                    <a href="#" onclick='main:positions'>
                        <li>Cargos</li>
                    </a>
                    <a href="#" onclick='main:teachers'>
                        <li>Professores</li>
                    </a>
                    <a href="#" onclick='main:distributions'>
                        <li>Distribuições</li>
                    </a>
                    <a href="#" onclick='main:distributions:new'>
                        <li>Nova Distribuição</li>
                    </a>
                    <a href="#" onclick='main:preferences'>
                        <li>Preferências</li>
                    </a>
                </ul>
            </div>

            <div class="large-6 columns">
                <h3>Opções de cargos</h3>
                <ul>
                    <a href="#" onclick='main:workload'>
                        <li>Carga Horária</li>
                    </a>
                    <a href="#" onclick='main:research'>
                        <li>Pesquisas</li>
                    </a>
                    <a href="#" onclick='main:instution'>
                        <li>Institucional</li>
                    </a>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="large-6 columns">
                <h3 class="css-selector">Chefe departamento</h3>
                <ul>
                    <a href="#" onclick='main:departments'>
                        <li>Departamentos</li>
                    </a>
                    <a href="#" onclick='main:commissions'>
                        <li>Comissões</li>
                    </a>
                    <a href="#" onclick='main:positions'>
                        <li>Cargos</li>
                    </a>
                </ul>
            </div>

            <div class="large-6 columns">
                <h3>Opções de cargos</h3>
                <ul>
                    <a href="#" onclick='main:workload'>
                        <li>Carga Horária</li>
                    </a>
                    <a href="#" onclick='main:research'>
                        <li>Pesquisas</li>
                    </a>
                    <a href="#" onclick='main:institution'>
                        <li>Intitucional</li>
                    </a>
                </ul>
            </div>
        </div>

    </div>

</div>
