<div class="row">
  <div class="small-3 medium-3 columns"><strong>Nome</strong></div>
  <div class="small-3 medium-3 columns"><strong>Carga mínima</strong></div>
  <div class="small-3 medium-3 columns"><strong>Carga máxima</strong></div>
  <div class="small-3 medium-3 columns"><strong>Carga atual</strong></div>
</div>
<hr>
<div id="list-item-position"></div>
