<div class="logo" style="text-align: center">
  <img src="/CDSCeunes/resources/img/logos-ufes.png" >
</div>
<form>
  <h2 class="col-md-4 col-md-offset-4">Login</h2>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <input id="login" name="login" class="form-control"
          placeholder="login único ufes" required autofocus type="text">
        <input id="senha" name="senha" class="form-control"
          placeholder="senha única ufes" required type="password"> <br>
        <br>
        <button class="btn btn-info btn-block" type="submit">Entrar</button>
      </div>
    </div>
</form>