<div class="logo" style="text-align: center">
  <img src="/CDSCeunes/resources/img/logos-ufes.png">
</div>
<form>
  <div class="row">
    <div class="medium-4 medium-offset-4 columns">
      <h2 class="text-center subheader">Login</h2>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="medium-4 medium-offset-4 columns">
      <input id="login" name="login" class="form-control" placeholder="login único ufes" required autofocus type="text">
      <input id="senha" name="senha" class="form-control" placeholder="senha única ufes" required type="password">
      <button class="hollow button float-center" type="submit">Entrar</button>
    </div>
  </div>
</form>
