<form>
  <div class="row">
    <div class="small-5 columns">
      <label for="name" class="text-right middle"><strong>Nome</strong></label>
    </div>
    <div class="small-7 columns end">
      <input type="text" placeholder="Nome" name="name" value="{{ model.name }}">
    </div>
  </div>
  <div class="row">
    <div class="small-5 columns">
      <label for="center" class="text-right middle">
        <strong>Centro</strong>
      </label>
    </div>
    <div class="small-7 columns end">
      <input type="text" placeholder="Centro" name="center" value="{{ model.center }}">
    </div>
  </div>
  <div class="row">
    <div class="medium-offset-5 small-5 columns">
      <button class="small hollow button js-submit-department">Enviar</button>
    </div>
  </div>
</form>
