.text-center {
  text-align: center;
}

.teacher-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.teacher-form-dimensions {
  width: 18rem;
  height: 2rem;
}

.vertical-line-left {
  border-left: thick solid #cacaca;
}


.distrib-teacher-item {
  border-bottom: 1px solid #cacaca;
  padding-bottom: 1px;
}
.distrib-teacher-item:hover {
  background-color: #cacaca;
}
