<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
<meta charset="UTF-8"/>
<title>CDS Ceunes</title>
<link rel="stylesheet" href="../../css/app.css" th:href="@{/css/app.css}" />
<link rel="stylesheet" href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
<link rel="stylesheet" href="../../css/vendor/jquery-ui.css" th:href="@{/css/vendor/jquery-ui.css}" />
<link rel="stylesheet" href="../../css/vendor/foundation.min.css" th:href="@{/css/vendor/foundation.min.css}" />
</head>

<body>
	<div id="app-container" class="container-fluid">
		<div id="header-container"></div>
		<div id="main-container">
			<p>CDS Ceunes</p>
		</div>
		<div id="dialog-container"></div>
		<div id="footer-container"></div>
	</div>
	<script type="text/javascript" data-main="js/main.js"
		src="js/vendor/require.js"></script>
</body>
</html>