<div class="row">
  <div class="small-3 medium-3 columns"><strong>Nome</strong></div>
  <div class="small-3 medium-3 columns"><strong>Centro</strong></div>
  <div class="medium-offset-6 columns"></div>
</div>
<hr>
<div id="list-item-department"></div>
