<div class="row">
  <div class="medium-4 columns">
    <button class="button js-new-distribution">Nova distribuição</button>
  </div>
  <div class="medium-4 medium-offset-4 columns">
    <form action="">
      <div class="input-group">
        <input type="text" class="input-group-field" placeholder="Procure por semestre">
        <div class="input-group-button">
          <button type="submit" class="button">Filtrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
