<div class="row">
  <div class="medium-3 columns"><span>Professor</span></div>
  <div class="medium-5 columns"><span>Disciplina</span></div>
  <div class="medium-2 columns"><span>Preferência</span></div>
  <div class="medium-2 columns"><span>-</span></div>
</div>
<hr >
<div id="preferences-rows"></div>