<div class="row">
  <div class="small-3 medium-3 columns"><p>Nome</p></div>
  <div class="small-3 medium-3 columns">Login</div>
  <div class="small-6 medium-6 columns">Data de admissão</div>
</div>
<div id="list-item-teacher"></div>