<div class="row">
  <div class="small-3 medium-3 columns"><strong>Nome</strong></div>
  <div class="small-3 medium-3 columns"><strong>Login</strong></div>
  <div class="small-6 medium-6 columns"><strong>Data de admissão</strong></div>
</div>
<hr>
<div id="list-item-teacher"></div>