<div class="row">
  <div class="col-md-3 col-sm-3"><p>Nome</p></div>
  <div class="col-md-3 col-sm-3">Login</div>
  <div class="col-md-3 col-sm-3 col-md-offset-0">Data de admissão</div>
</div>
<div id="list-item-teacher"></div>