<button class="btn btn-primary">Novo professor</button>
<form action="" id="filter-form" class="form-search form-inline pull-right">
  <div class="input-append">
    <input type="text" class="span2 search-query">
    <button type="submit" class="btn">Filtrar professores</button>
  </div>
</form>