<div class="row">
  <div class="medium-4 columns">
    <button class="button">Novo professor</button>
  </div>
  <div class="medium-4 medium-offset-4 columns">
    <form action="">
        <div class="input-group">
          <input type="text" class="input-group-field" placeholder="Nome do professor">
          <div class="input-group-button">
            <button type="submit" class="button">Filtrar</button>
          </div>
        </div>
    </form>
  </div>
</div>