<div class="small-3 medium-3 columns"><span class="js-edit-name">{{ name }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ center }}</span></div>
<div class="medium-1 columns">
  <a href="#departments/{{ id }}" class="tiny hollow button js-show-department">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
<div class="medium-1 columns">
  <a href="#departments/{{ id }}/edit" class="tiny hollow button js-edit-department">
    <i class="fa fa-pencil"></i>
    Editar
  </a> 
</div>
<div class="medium-1 columns">
  <button class="tiny hollow button radius js-delete-department">
    <i class="fa fa-remove"></i>
    Apagar
  </button>
</div>